* {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .01em;
}

h1, h2 {
    letter-spacing: -0.04em;
}

a {
    border-bottom: 1px solid;
}

/* Disable bootstrap link underlining */
a:hover, a:focus {
    text-decoration: none !important;
}

#share {
    margin-top: 0.5em;
}

#share a {
    border-bottom: 0;
}

.chart text {
    font: sans-serif;
    font-size: 10px;
}

.chart .line {
    fill: none;
    stroke: #337ab7;
    stroke-width: 1px;
}

.axis path, .axis line {
    fill: none;
    stroke: #b3b2b2;
    shape-rendering: crispEdges;
}

#changes .line {
    stroke-opacity: 0.1;
}

.card {
    margin-top: 2em;
    margin-bottom: 2em;
}

.rug {
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.rug.price {
    stroke: #b2ccf0;
    stroke-opacity: 0.1;
}

.rug.price.excess {
    stroke: #ff0000;
    stroke-opacity: 0.5;
}

.rug.limit line {
    stroke: #b3b2b2;
    stroke-opacity: 1.0;
}

.rug.limit text {
    text-anchor: middle;
}

#pricelist td, #pricelist th  {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 2em;
    vertical-align: top;
    border-bottom: 1px solid rgb(234, 234, 234);
}

